dist/
build/
old/
__pycache__/
.DS_Store
*.o
*.pyc
*.log
*.nav
*.aux
*.toc
*.out
*.snm
*.synctex.gz
*.fdb_latexmk
*.fls
*.eggs/
*.egg-info/
*.dmg
*.pkg
*.exe
cython/SnapPy.c
cython/SnapPy.h
cython/SnapPyHP.cpp
cython/SnapPyHP.c
cython/SnapPyHP.h
opengl/CyOpenGL.c
opengl/CyOpenGL.h
python/doc/
kernel/documentation/doxyhtml
doc_src/_build/
dev/talks/outline/sage74-nmd.pdf
dev/talks/sage74-part1/sage74p1.pdf
opengl/Togl2.1-SnapPy/win*/Release_VC9
opengl/Togl2.1-SnapPy/win*/version.vc
opengl/Togl2.1-SnapPy/win*/nmakehlp*
opengl/Togl2.1-SnapPy/win*/win32VC-tk8.*
opengl/Togl2.1-SnapPy/win*/vercl.*
dev/min_cython/*.so
dev/min_cython/cython_code/*.c
mac_osx_app/disk_images/
windows_exe/SnapPy/
windows_exe/dist*
windows_exe/vc_redist_installers/vc_redist_*.exe