h1, h2, h3, h4, h5, h6 {
    font-family: Lato,proxima-nova,Helvetica Neue,Arial,sans-serif;
}

.wy-side-nav-search {
    background-color: #27841b;
}

.wy-nav-top {
    background-color: #27841b;
}

.wy-nav-side {
    background-color: #123418;
}

.wy-nav-content {
    max-width: none;
    background-color: white;
    color: black;
}

footer {
    color: black;
}

