<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>SnapPy</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>py</string>
				<string>tri</string>
				<string>lnk</string>
				<string>sur</string>
			</array>
                        <key>CFBundleTypeMIMETypes</key>
                        <array>
                                <string>application/x-python</string>
                                <string>text/plain</string>
                        </array>
                        <key>CFBundleTypeName</key>
                        <string>NSStringPboardType</string>
                        <key>CFBundleTypeOSTypes</key>
                        <array>
                                <string>TEXT</string>
                                <string>****</string>
                        </array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>SnapPy</string>
	<key>CFBundleIconFile</key>
	<string>SnapPy.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.computop.SnapPy</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>SnapPy</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>XXX</string>
	<key>CFBundleSignature</key>
	<string>SnPy</string>
	<key>CFBundleVersion</key>
	<string>XXX</string>
	<key>LSHasLocalizedDisplayName</key>
	<false/>
	<key>LSRequiresCarbon</key>
	<true/>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>OSAScriptingDefinition</key>
	<string>SnapPy.sdef</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright (C) 2009 - present Marc Culler, Nathan Dunfield and others</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>PyMainFileNames</key>
	<array>
		<string>__boot__</string>
	</array>
	<key>PyOptions</key>
	<dict>
		<key>alias</key>
		<false/>
		<key>argv_emulation</key>
		<false/>
		<key>emulate_shell_environment</key>
		<false/>
		<key>no_chdir</key>
		<false/>
		<key>prefer_ppc</key>
		<false/>
		<key>site_packages</key>
		<false/>
		<key>use_faulthandler</key>
		<false/>
		<key>use_pythonpath</key>
		<false/>
		<key>verbose</key>
		<false/>
	</dict>
	<key>PyResourcePackages</key>
	<array>
	</array>
	<key>PyRuntimeLocations</key>
	<array>
		<string>@executable_path/../Frameworks/Python.framework/Versions/2.7/Python</string>
	</array>
	<key>PythonInfoDict</key>
	<dict>
		<key>PythonExecutable</key>
		<string>/Library/Frameworks/Python.framework/Versions/2.7/Resources/Python.app/Contents/MacOS/Python</string>
		<key>PythonLongVersion</key>
		<string>XXX</string>
		<key>PythonShortVersion</key>
		<string>2.7</string>
		<key>py2app</key>
		<dict>
			<key>alias</key>
			<false/>
			<key>template</key>
			<string>app</string>
			<key>version</key>
			<string>0.9</string>
		</dict>
	</dict>
</dict>
</plist>
