name: Wheels

on: [push, pull_request]

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, ubuntu-22.04-arm, macos-14, macos-15-intel, windows-2022]

    steps:
      - uses: actions/checkout@v4

      - name: Build wheels
        uses: pypa/cibuildwheel@v3.3

      - uses: actions/upload-artifact@v4
        with:
          name: snappy_${{matrix.os}}_wheels
          path: ./wheelhouse/*.whl
